.preview {
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.preview_description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}

.preview .course {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #2B788B;
    text-transform: uppercase;
    
}

.preview h1 {
    font-family: Dela Gothic One;
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    letter-spacing: -0.04em;
    
}

.text {
    color: #757575;
}

.count_of_students {
    background-image: url(./assets/count-of-students.png);
    width: 163px;
    height: 65px;
    /* padding-top: 18px; */
}

.preview  button {
background-color: #C3DCE3;
color: #2B788B;
border-radius: 100px;
border: none;
width: 165px;
height: 44px;
margin-bottom: 18px;
}

.preview_img_boy {
    background-image: url(./assets/boy.png);
    width: 520px;
    height: 507.28px;
    background-size: contain;
    background-repeat: no-repeat;
}