.error {
    background-color: #F6F5F4;
    padding: 112px 20px;
}

.error .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text p {
    color: #757575;
    font-family: Space Grotesk;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.42px;
}

.text h2 {
    font-family: Dela Gothic One;
    font-weight: 400;
    font-size: 56px;
    line-height: 67.2px;
    letter-spacing: -4%;
    color: #000000;
}

.content button {
    background-color: #2B788B;
    border: none;
    border-radius: 100px;
    width: 118px;
    height: 44px;
}

.content button a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.img img {
    width: 100%;
    max-width: 395px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .error .wrapper {
        flex-direction: column;
        gap: 20px;
    }
}