.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #F6F5F4;
}

.header .wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .logo a{
    font-size: 16.39px;
    font-weight: 600;
    color: #000000;
    line-height: 16.39px;
    letter-spacing: -0.02em;
    width: 95.38px;
    height: 16px;
    border-right: 1.18px solid #E0E0E0;
    text-decoration: none;
}


.header .signButtons {
    display: flex;
    gap: 24.83px;
}

.header .signButtons button {
    font-size: 16.55px;
    font-weight: 700;
    line-height: 16.55px;
}

.header .log {
    border: none;
    background-color: transparent;
}

.header .log a {
    text-decoration: none;
    color: #000000;
    font-size: 16.55px;
    font-weight: 700;
    line-height: 16.55px;
}

.header .sign {
    background-color: #2B788B;
    border-radius: 14.19px;
    text-align: center;
    border: none;
    padding: 13.01px 21.28px;
    color: #FFFFFF;

}

.header .sign a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16.55px;
    font-weight: 700;
    line-height: 16.55px;
}